*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    border: 1px solid black;
    font-size: 25px;

}
button{
    padding: 10px 20px;
}

.header img{
    width: 100%;
    height: 70px;
}
 .navbar ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 10px;
   

}
ul li a{
     text-decoration: none;
   
}
.hero{
    background-image: url("images/heropic.jpg");
    width: 100%;
    height: 700px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;



}
.card{
    width: 100%;
    height: 400px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: aqua;
  
}
.cardsection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    gap: 20px;

}
.pro{
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 20px;

    border: 5px solid orange;
    margin-top: 20px;
}
.card:hover{
    transform: scale(1.05);
    transition-duration: 2s;
}

.card img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
.text{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    align-items: center;
    justify-content: center;
  
}
.text_1{
    margin-top: 70px;
    margin-left: 80px;
   color: orange;
}
.about{
    width: 100%;
    display: flex;
    height: 700px;
    border: 1px solid black;
    justify-content: space-evenly;
    background-color: gray;
}
.about_1 {
    width: 50%;
}
.about_1 img{
    width: 50%;
    height: 500px;
    margin-top: 70px;
    margin-left: 100px;
    border-radius: 10px;

}
.about_2{
    width: 50%;
    text-align: center;
    margin-top: 70px;
    font-size: 25px;
   margin-right: 100px;

}
.footer {
  background-color: #111;
  color: #fff;
  padding: 50px 20px 20px;
  margin-top: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1 1 250px;
  margin: 15px;
}

.footer-section h2,
.footer-section h3 {
  margin-bottom: 15px;
  color: #00aaff;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #00aaff;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #333;
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
}

